.main-title {
  max-width: 475px;
  width: 100%;
  font-family: 'ProximaNova-Semibold', sans-serif;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1;
  padding: 24px 0 16px;
  border-bottom: 1px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}