.calendar-block {
  padding: 0 40px 40px;
  position: relative;
  min-height: 400px;
  max-width: 555px;
  width: 100%;
  background-color: #fff;
  border: none;

  //will be delete
  box-shadow: 0 5px 15px 0 rgba(32,32,32,0.4);

  .btn-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }

  .calendar-wrap {
    margin-top: 16px;
  }
}