button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.green-button {
  max-width: 228px;
  width: 100%;
  background: #B2EC37;
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'ProximaNova-Semibold', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;

  svg {
    width: 24px;
  }
}

.back-button {
  display: flex;
  align-items: center;
  font-family: 'ProximaNova-Semibold', sans-serif;
  font-size: 16px;
  line-height: 1.33;
  color: #000000;

  &.version-two {
    width: 24px;
    height: 24px;
  }

  &.version-one {
    svg {
      margin-right: 50px;
    }
  }

  svg {
    width: 24px;
  }
}