@font-face {
  font-family: "ProximaNova-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "ProximaNova-Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: "ProximaNova-Semibold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff");
}
