.booking-block {
  position: relative;
  max-width: 555px;
  width: 100%;
  background-color: #fff;
  border: none;
  overflow: hidden;

  //will be delete
  box-shadow: 0 5px 15px 0 rgba(32,32,32,0.4);

  .booking-links-wrap,
  .calendar-block {
    transition: all 0.3s ease;
  }
}